html {
    font-size: 100px;
}



* {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;

}

.left_box {
    height: 100%;
    width: 20%;
    float: left;
    /*border-right: solid 0.1rem black;*/
    background-color: #c7e3f1;
}

.right_box {
    /*height: 100%;*/
    width: 80%;
    box-sizing: border-box;
    border-left: 3rem solid white;
    float: left;
    background-color: aliceblue;
    margin-bottom: 2rem;
}

#folder_head {
    position: absolute;
    width: 3.6rem;
    height: 14rem;
    top: 20rem;
    left: 0;
    border: 0.2rem solid #dae0ee;
    font-size: 2.2rem;
    background-color: white;
    border-radius: 0.6rem;
}

#folder_head p {
    width: 80%;
    margin: 0.4rem 0.6rem;
    float: left;
}

#folder_list {
    /*width: 18rem;*/
    position: relative;
    width: 72%;
    max-width: 21rem;
    top: 8rem;
    right: 1.6rem;
    float: right;
    list-style-type: none;
    border: 0.2rem solid #27A9E3;
    border-radius: 0.4rem;
}

.folder_li {
    position: relative;
    width: 100%;
    height: 5.4rem;
    /*margin-top: 0.6rem;*/
    font-size: 1.8rem;
    box-sizing: border-box;
    border-bottom: 0.2rem solid white;
    border-radius: 0.3rem;
}

.folder_li img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0.6rem;
    left: 0.4rem;
    float: left;
}

.folder_li a {
    position: absolute;
    height: 100%;
    width: auto;
    left: 5rem;
    right: 0;
    /*max-width: 15rem;*/
    line-height: 6rem;
    float: left;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-left: 0.3rem solid transparent;
}

.folder_li a:hover, .folder_li a:active {
    background-color: darkgrey;
    border-left: 0.3rem solid #27A9E3;
}

#current_pos {
    text-align: left;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.upload_btn {
    width: 12rem;
    height: 4rem;
}

.upload_btn a {
    height: 100%;
    display: block;
    border-radius: 0.6rem;
    background-color: #27A9E3;
    text-align: left;
}
.upload_btn a:hover{
    background-color: blue;
}

.upload_btn img {
    margin: 0.5rem 1rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
}

.upload_btn span {
    height: 4rem;
    display: inline-block;
    font-size: 1.4rem;
    vertical-align: top;
    line-height: 4rem;
}

.file_nav {
    margin: 1.4rem 4rem 1rem 0;
    padding-left: 3rem;
    font-size: 1.6rem;
    border: solid 0.1rem #5a5757;
    text-align: left;
    background-color: gold;
}

.file_nav a {
    width: 10rem;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
    border-top: solid 0.2rem transparent;
}

.file_nav a:hover, .file_nav a:active {
    border-top: solid 0.2rem #27A9E3;
    background-color: white;
}

.search_bar {
    height: 3rem;
    padding: 0.5rem 3rem;
    border: solid 0.1rem #555555;
    margin: 0 20%;
    border-radius: 0.4rem
}

.search_bar form {
    height: 100%;
    width: 100%;
}

.search_bar select {
    height: 100%;
    width: 8rem;
    border: solid 0.1rem #676262;
    float: left;
    border-radius: 0.6rem;
}

.search_bar #searchContent {
    height: 100%;
    width: 36%;
    border: solid 0.1rem #676262;
    text-align: left;
    float: left;
    margin-left: 6rem;
    border-radius: 0.6rem;
}

.search_bar #search_btn {
    height: 100%;
    width: 6rem;
    border-radius: 0.4rem;
    float: right;
}

.file_list {
    margin: 2rem 4rem 0 0;
    border: solid 0.1rem #27A9E3;
    border-radius: 0.6rem;
    overflow: hidden;
    padding-bottom: 0.6rem;
}

.file_table {
    width: 100%;
    border-collapse: collapse;
}

.file_table tr {
    width: 100%;
    font-size: 1.6rem;
}

.file_table th, .file_table td {
    height: 3rem;
    padding: 0.1rem;

}

.file_table th {
    border-bottom: solid 0.2rem #27A9E3;
}

.file_table td {
    border-bottom: solid 0.1rem #555555;
}

.fname {
    width: 30%;
}

.fsize {
    width: 15%;
}

.ftype {
    width: 15%;
}

.fupTime {
    width: 20%;
}

.foper {
    width: 20%;
}

.pages {
    float: left;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.4rem;
}

.pages #targetPage {
    text-align: left;
    width: 2rem;
}

.pages #targetPage_btn {
    width: 3rem;
    border-radius: 0.2rem;
}
