<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cloudstorage.DAO.File_DAO">


    <select id="selectFileById" parameterType="int" resultType="com.cloudstorage.entity.File">
        select * from file where file_id = #{file_id}
    </select>

    <select id="selectUser_FileById" resultType="com.cloudstorage.entity.UserFile">
        select * from user_file where file_id = #{File_id} and id = #{User_id}
    </select>

    <select id="selectFileDetailById"  resultType="java.util.HashMap">
        SELECT user_file.file_id,user_file.filename,authority,date,user_file.size,u.id,u.username from (user_file left join file on user_file.file_id=file.file_id)
        LEFT join user as u on provider_id = u.id
        where user_file.file_id=#{File_id} and user_file.id=#{User_id}
    </select>



    <select id="selectAllFilesByUser" parameterType="com.cloudstorage.entity.User" resultType="com.cloudstorage.entity.UserFile">
        select * from user_file where id = #{id}
    </select>

    <select id="selectPublicFilesByUser" parameterType="com.cloudstorage.entity.User" resultType="com.cloudstorage.entity.UserFile">
        select * from user_file where id = #{id} and authority = 1
    </select>


    <insert id="insert_file_share"
            useGeneratedKeys="true" keyProperty="id" >
        insert into file_share(id,target_id,file_id,is_valid,date)
        values(#{id},#{target_id},#{file_id},#{is_valid},#{date})
    </insert>


    <resultMap type="com.cloudstorage.entity.FileShare" id="resultListFileShare">
        <id column="id" property="id" />
        <result column="file_id" property="file_id" />
        <result column="date" property="date" />
    </resultMap>
    <select id="select_file_share" parameterType="int" resultMap="resultListFileShare">
        select * from file_share where target_id = #{target_id} and is_valid = 1
    </select>

    <select id="select_file_nums" parameterType="int" resultType="int">
        select nums from file where file_id = #{file_id}
    </select>



    <update id="add_file_nums" parameterType="int">
        update file set nums = nums + 1 where file_id=#{file_id}
    </update>

    <update id="minus_file_nums" parameterType="int">
        update file set nums = nums - 1 where file_id=#{file_id}
    </update>

    <update id="update_share_states_to_0" >
        update file_share set is_valid= 0 where target_id=#{target_id} and file_id=#{file_id} and is_valid=#{is_valid} and date=#{date}
    </update>

    <insert id="insert_file" parameterType="com.cloudstorage.entity.File"
            useGeneratedKeys="true" keyProperty="id" >
        insert into file(file_id,filename,file_path,nums,size,type,provider_id)
        values(#{file_id},#{filename},#{file_path},#{nums},#{size},#{type},#{provider_id})
    </insert>

    <insert id="insert_user_file" parameterType="com.cloudstorage.entity.UserFile"
            useGeneratedKeys="true" keyProperty="id" >
        insert into user_file(id,file_id,filename,authority,date,size)
        values(#{id},#{file_id},#{filename},#{authority},#{date},#{size})
    </insert>

    <update id="update_file_auth" >
        update user_file set authority= #{Auth} where file_id=#{File_id} and id = #{User_id}
    </update>

    <update id="update_file_name" >
        update user_file set filename= #{New_name} where file_id = #{File_id} and id = #{User_id}
    </update>


    <delete id="delete_user_file">
        delete from user_file where file_id=#{File_id} and id = #{User_id}
    </delete>

    <delete id="delete_file" parameterType="int">
        delete from file where file_id=#{file_id}
    </delete>



</mapper>